*{
 margin: 0px;
 padding: 0px;
}

#wrapper{
background-color:#c3fafa;
height:900px;
width:970px;
display:inline-block;
}

h1{
margin-left:60px;
margin-top:10px;
text-align:center;
color:#2b596b;
}

form{
font-size:16px;
margin-left:20px;
margin-top:20px;
display:inline-block;
}

p{
margin-top: 10px;
color:#2b596b;

}

input{
height:20px;
width:200px;
}

#submit{
margin-top:30px;
}

#dog{
margin-top:40px;
margin-left:100px;
vertical-align: top;
}

#flash{
margin-top:10px;
margin-left:10px;
}

h3{
margin-top:10px;
margin-left:10px;
}






